body {
    background-color: #f1f1f1;
    padding: 10px;
    font-family: Arial;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

h5 {
    font-size: 12px;
    color: #A0A0A0;
    word-break: break-all;
}

form {
    display: inline;
}

p#firstname {
    color: #A0A0A0;
    background-color: black
  }

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: #e7e7e7;
}

a:link {
    color: #0679a0;
}

a:visited{
    color: #A0A0A0
}

a:hover, a:active{
    color:#E03a3e
}

#text {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 10px;
    color: #A0A0A0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn {
    border: 2px solid black;
    background-color: #A0A0A0;
    color: black;
    padding: 4px 8px;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color:#A0A0A0;
}

/* Blue */
.info {
    border-color: #A0A0A0;
    color: rgb(8, 8, 8);
}

.info:hover {
    background: #A0A0A0;
    color: rgb(8, 8, 8);
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color:#A0A0A0;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red;
}

.danger:hover {
    background: #f44336;
    color:#A0A0A0;
}

/* Gray */
.default {
    border-color: #A0A0A0;
    color: black;
}

.default:hover {
    background: #A0A0A0;
}