<html>

<head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
    <title>{{ title }} - XAKA people count sensor</title>
    {% else %}
    <title>XAKA people count sensor</title>
    {% endif %}

</head>

<body bgcolor="#C8C8C8">
    <div>
        <b>XAKA people count sensor:</b>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
    </div>

</body>

</html>