{% extends 'mgmbase.html' %}

{% block title %} Radar data chart{% endblock %}

{% block style%} {% endblock %}

{% block mgmContent %}

        <ul class="list-group">
            <li class="list-group-item">
                <h4> XANDAR KARDIAN Radar People Counnt Data Chart </h4>
                <hr>
                <b> Radar Information : </b>
                <span class="badge bg-secondary">Radar Type:</span> &nbsp
                <span class="badge bg-bg-dark"> {{ posts['radarType'] }} </span>
                <span class="badge bg-secondary">Connected Port:</span> &nbsp
                <span class="badge bg-bg-dark"> {{ posts['radarPort'] }} </span>
                <span class="badge bg-secondary">Connected State:</span> &nbsp
                {% if posts['radarConn'] %}
                    <span class="badge bg-warning"> Simulation Mode </span>
                {% else %}
                    <span class="badge bg-success"> Connected </span>
                {% endif %}
                <span class="badge bg-secondary"> Radar Update Interval:</span> &nbsp
                <span class="badge bg-bg-dark"> {{ posts['radarInt'] }} sec </span>
                <p> </p>
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-light text-dark">
                            <div class="card-body">
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <p> - </p>
            </li>
        </ul>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Final people count result",
                        backgroundColor: 'rgb(0, 102, 204)',
                        borderColor: 'rgb(0, 102, 204)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'XANDAR KARDIAN People Detection Radar'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time Stamp'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'People Num'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('canvas').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (config.data.labels.length === 20) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                }
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.value);
                lineChart.update();
            }
        });
    </script>

{% endblock %}