{% extends 'mgmbase.html' %}

{% block title %} Radar data list {% endblock %}

{% block style%} {% endblock %}

{% block mgmContent %}

    <ul class="list-group">
        <li class="list-group-item">
            <h4> All data paramters read from radar </h4>
            <hr>
            <span class="badge bg-secondary">Radar ID :</span> &nbsp
            <span class="badge bg-bg-dark"> {{ posts['radarID'] }} </span>
            <span class="badge bg-secondary">Time Stamp :</span> &nbsp
            <span class="badge bg-bg-dark"> {{ posts['time'] }} </span>
            <p> </p>
            <table class="table table-dark table-bordered">
                <thead>
                    <tr class="table table-info">
                        <th>ParamterName</th>
                        <th>Data Value</th>
                        <th>ParamterName</th>
                        <th>Data Value </th>
                        <th>ParamterName</th>
                        <th>Data Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in posts['data'] %}
                        <tr> 
                            {% for val in data %}
                                <td> <span class="badge bg-secondary"> {{ val[0] }} </span> </td>
                                <td> {{ val[1] }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
    </ul>
{% endblock %}