{% extends 'base.html'%}

{% block content %}

<br>
<div class="row">
    <div class="col-sm-4"> </div>
    <div class="container col-sm-4">
        <p>
        <img src="{{url_for('static', filename='images/Logo.png')}}" class="rounded mx-auto d-block" />
        <h3 class="title"> IoT People Count Radar Web Protal Login </h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <p></p>
            <form method="POST" action="/login">
                <div class="mb-3 mt-3">
                    <label for="email">Account:</label>
                    <input type="text" class="form-control" id="account" placeholder="Enter account" name="account">
                </div>
                <div class="mb-3">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                        name="password">
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary"> Submit </button>
            </form>
        </div>
    </div>
    <div class="col-sm-4"> </div>
</div>

{% endblock %}