{% extends 'base.html'%}

{% block content %}
<hr>
<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            {% if posts['page'] == 0 %}
                <a href="{{ url_for('index')}}" class="list-group-item list-group-item-action bg-secondary">Home</a>
            {% else %}
                <a href="{{ url_for('index')}}" class="list-group-item list-group-item-action">Home</a>
            {% endif %}
        </div>

        {% if current_user.is_authenticated %}

            <div class="list-group">
                {% if posts['page'] == 1 %}
                    <a href="{{ url_for('chart')}}" class="list-group-item list-group-item-action bg-secondary">Radar Data Chart</a>
                {% else %}
                <a href="{{ url_for('chart')}}" class="list-group-item list-group-item-action">Radar Data Chart</a>
                {% endif %}
            </div>
            {% if current_user.name == 'admin'%}
            <div class="list-group">
                {% if posts['page'] == 2 %}
                <a href="{{ url_for('accmgmt')}}" class="list-group-item list-group-item-action bg-secondary">User
                    Configuration</a>
                {% else %}
                <a href="{{ url_for('accmgmt')}}" class="list-group-item list-group-item-action">User Configuration</a>
                {% endif %}
            </div>

            <div class="list-group">
                {% if posts['page'] == 3 %}
                <a href="#" class="list-group-item list-group-item-action bg-secondary">IoT
                    Configuration</a>
                {% else %}
                <a href="#" class="list-group-item list-group-item-action">IoT Configuration</a>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
        <br>
        <img src="{{url_for('static', filename='images/Logo.png')}}" class="rounded mx-auto d-block" alt="logo"> 

    </div>

    <div class="col-sm-10">
        {% block mgmContent %}
        {% endblock %}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger"> {{message}}</div>
        {% endfor %}

    </div>
</div>
{% endblock %}
